<div class="container">
    <h1>Best Burger Joint in Town!</h1>
    
    <div class="row">

    <div class="col">
       
    <div>
            
        {{#each burgers}}
        {{#unless devoured}}
    <div>


    <div>
                
        {{this.id}}
        {{this.burger_name}}
                
    </div>

    <div>
        <form action="/burgers/update?" method="PUT">
            <input type="hidden" name="burger_id" type="text" value={{this.id}}>
            <button class="btn btn-primary"type="submit" class="submit-btn">Devour It</button>
        </form> 
    </div>

    <div>
        {{/unless}}
        {{/each}}

    </div>



<!--devoured-->

    <div>
        {{#each burger_data}}
        {{#if this.devoured}} 
        <input class="form-control" type="text" placeholder="{{this.id}}.{{this.burger_name}}">
        {{/if}}
        {{/each}}
    </div>

</div>





<div class="container" id="submit">
    
    <div class="row">
        <div class="col-3">
        <p>Order A Burger</p>
            <form action="/burgers/create" method="POST">
                <input type="text" name="burger_name" class="form-control" value="" id="enter">
                <button class="btn btn-primary"type="submit" id="submit-input">Submit</button>
            </form>
        </div>
    </div>
</div>


<div class="container mt-5">

<h2 id="sub-title" class="text-center pt-3">Order a Burger!</h2>

<div class="row justify-content-center">
    
    <div class="col-4">
    {{!-- Form to add new burger --}}
    <form class="create-form">
        <div class="form-group">
            <label for="add-burger">Type of Burger:</label>
            <textarea class="form-control rounded-5 mb-2" id="add-burger" rows="3"></textarea>
            <button class="btn btn-primary btn-sm" type="submit"><i class="fas fa-hamburger fa-lg mr-2"></i>Order Burger</button>
        </div>
    </form>
    </div>
</div>

</div>
        </div>
    </form>
    </div>
</div>

</div>